* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid grey; */
}

#screen__pin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

form{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#Logo {
  background-color: #134197;
  height: 57em;
  padding-top: 9rem;
  display: flex;
  justify-content: center;
}

#Logo img {
  height: 10em;
  width: 30em;
}

#error_messag {
  color: red;
  font-size: 20px;
  text-align: center;
}

#box{
  display: flex;
  justify-content: center;
  align-items: center;
}

#text_box {
  width: 20rem;
  height: 5rem;
  margin: 7px;
  border: rgba(0, 0, 0, 0.3) solid 2px;
  text-align: center;
}

.selected{
  display: grid;
  grid-template-columns: 60% 40%;
  margin-left: 13.4rem;
}

#pin_button {
  font-size: 4rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 6.9px;
}

.pin_num,
.emt_btn {
  border: rgba(0, 0, 0, 0.3) solid 2px;
  text-align: center;
  height: 5.4rem;
  width: 6.4rem;
}

#cancel,
#clear,
#enter {
  width: 150px;
  height: 60px;
  border: rgba(0, 0, 0, 0.3) solid 2px;
  margin: 5px;
}

#cancel_btn_color,
#clear_btn_color,
#enter_btn_color {
  margin: 41px 4px 0px 4px;
  height: 11px;
}

#cancel_btn_color {
  background-color: red;
}

#clear_btn_color {
  background-color: darkorange;
}

#enter_btn_color {
  background-color: green;
}

.Click:hover {
  background-color: rgb(27, 66, 151);
  color: white;
}

#command_span {
  width: 33ex;
  height: 66px;
  display: flex;
  flex-direction: column;
  transform: translate(45ex, -43ex);
}

.command_button {
  height: 50ex;
  background-color: rgb(252, 248, 248);
  border: rgba(0, 0, 0, 0.3) solid 2px;
  margin: 11px;
}

#date_time {
  display: flex;
  justify-content: flex-end;
}

#dashborde {
  background-color: rgb(27, 66, 151);
}

#message-tap {
  color: #ffffff;
  margin-top: 9px;
  font-size: 4ex;
}

#window {
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 15px;
}
