*{
    box-sizing: border-box;
}

body{
    margin: 0 0;
}

#screen__pin{
    height: 100%;
}

#To_Right{
    float: left;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#To_Left{
    float: right;
    width: 44%;
    height: 30%;
}

#ThePin p{
    width: 12ex;
    height: 60px;
    background-color: rgb(252, 248, 248);
    font-size: 54px;
    text-align: center;
    border: rgba(0, 0, 0, 0.3) solid 2px;
}

#pin_button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    width: 40ex;
}

.call_number{
    width: 91px;
    height: 66px;
    background-color: rgb(252, 248, 248);
    border: rgba(0, 0, 0, 0.3) solid 2px;
    font-size: 30px;
    text-align: center;
}

.Click:hover{
    background-color: rgb(27, 66, 151);
    color: white;
}

#command_span{
    width: 33ex;
    height: 66px;
    display: flex;
    flex-direction: column;
    transform: translate(45ex, -43ex);
}

.command_button{
    height: 50ex;
    background-color: rgb(252, 248, 248);
    border: rgba(0, 0, 0, 0.3) solid 2px;
    margin: 11px;
}

#Yellow{
    background-color: yellow;
    height: 1ex;
    width: 26ex;
    margin-top: 5ex;
    margin-left: 4px;
    margin-right: 5px;
}

#Red{
    background-color: red;
    height: 1ex;
    width: 26ex;
    margin-top: 6ex;
    margin-left: 4px;
    margin-right: 5px;
}

#Green{
    background-color: green;
    height: 1ex;
    width: 26ex;
    margin-top: 6ex;
    margin-left: 4px;
    margin-right: 5px;
}

#intnum{
    display: flex;
    align-content: center;
    float: right;
    margin-top: 60px;
    margin-bottom: 10px;
}

#intnum p{
    background-color: rgb(252, 248, 248);
    height: 60px;
    width: 280px;
    border: rgba(0, 0, 0, 0.3) solid 2px;
}

#cancelbut button{
width: 50px;
}

#Logo{
    
    background-color: rgb(27, 66, 151);
    height: 91ex;
    display: flex;
    justify-content: center;
    align-items: center;
}

 #Logo img{
     height: 20ex;
     width: 50ex;
}

/* #screen__landing{
     display: flex;
     justify-content: ;
     width: 65%;
    height: 32vh;
    margin: 20px auto;
    color: azure;
    background-color: rgb(19, 39, 153);
 }*/

 #LogIn{
     background-color: rgb(27, 66, 151);
 }

 /*#User_Name{
    background-color: white;
    margin-top: 5%;
 }
*/